body {
    padding-top: 56px;
    background-color: #f8f9fa!important
}

.sticky-offset {
    top: 56px;
}

.form-outline {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 7% 10%;
    background-color: #FFF;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.form-outline input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

@media (min-width: 576px) {
    .main-body{
      width: 80%;
      margin: auto;
    }
}

@media (max-width: 575px) {
    .main-body{
      width: 100%;
      margin: auto;
      font-size: 0.7rem;
    }
}

th {
  border-top: none !important;
  padding-left:20.8px !important;
}

.card {
  border-radius: 20px;
}

.table td {
  padding: 1.3rem;
}


#addModal {
    float: right;
}


tr .fas {
    opacity: 0;
}

tr:hover .fas {
    opacity: 1;

}

.spacer {
    padding: 10px;
}

.blogentry {
    padding: 15px 0px 15px 0px;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #b6b7b9;

}

.blogentry td {
    padding-left: 0px;
}

.blogtitle h3 {
    margin-bottom: 0px;
    display: inline;
}

.blogtitle fas {
    display: inline;
}

.blogdate {
    color: #969696;
    font-weight: 100;
    font-size: smaller;
}

.blogpost {
    padding-top: 10px;
}


.comment {
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #b6b7b9;
}


