{% extends "base.html" %}
{% block smallscreenmenu %}

 <!-- This menu is hidden in bigger devices with d-sm-none.
The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
<li class="nav-item dropdown d-sm-block d-md-none">
    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Trip
    </a>
    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
        <a class="dropdown-item" href="{% url 'tracker:trip_detail' trip.id%}">Overview</a>
        <a class="dropdown-item" href="{% url 'tracker:trip_expense' trip.id%}">Expenses</a>
        <a class="dropdown-item" href="{% url 'tracker:trip_blog' trip.id%}">Blog</a>
        <a class="dropdown-item" href="{% url 'tracker:share_trip' trip.id%}">Share trip</a>
    </div>
</li>

{% endblock %}


{% block sidebar %}

<!-- Bootstrap row -->
<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2"> <!--Need to set this to 100% of the windows height -->>
        <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group sticky-top sticky-offset">
            <a href="{% url 'tracker:trip_detail' trip.id%}" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="menu-collapsed">Overview</span>
                </div>
            </a>

            <a href="{% url 'tracker:trip_expense' trip.id%}" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="menu-collapsed">Expenses</span>
                </div>
            </a>

            <a href="{% url 'tracker:trip_blog' trip.id%}" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="menu-collapsed">Blog</span>
                </div>
            </a>

            <a href="{% url 'tracker:share_trip' trip.id%}" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="menu-collapsed">Share trip</span>
                </div>
            </a>



        </ul>
        <!-- List Group END-->
    </div>
    <!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col py-3">

       {% block sidecontent%} {% endblock %}
    </div>
    <!-- Main Col END -->

</div>
<!-- body-row END -->

{% endblock %}