{% extends "base_sidebar.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block sidecontent %}
{% include "modal.html" %}

<h1>Expenses</h1> <br>
{% if page_obj %}
    <table class="table" id="table">
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Expense</th>
            <th scope="col">Expense Type</th>
            <th scope="col">Date</th>
        </tr>
        <tbody>
        {% for expense in page_obj %}
        <tr scope="row" class="record">
            <td>{{expense.description}} <a href="{% url 'tracker:trip_expense_update' trip.id expense.id%}" class="fas fa-edit" id="editExpense"></a> <a href="{% url 'tracker:trip_expense_delete' trip.id expense.id%}" class="fas fa-trash-alt"></a> </td>
            <td>{{expense.expense}}</td>
            <td>{{expense.expense_type}}</td>
            <td>{{expense.transaction_date | default_if_none:" " | date:"Y-m-d"}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">« Prev</a>

              {% if page_obj.number > 3 %}
                <a href="?page=1">1</a>
                {% if page_obj.number > 4 %}
                  <span>...</span>
                {% endif %}
              {% endif %}
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="{% url 'tracker:trip_expense' trip.id %}?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
                <span>...</span>
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
              {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
                <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
              {% endif %}

              <a href="?page={{ page_obj.next_page_number }}">Next »</a>
            {% endif %}
        </span>
    </div>

{% endif %}

<script src="{% static 'script.js' %}"></script>

{% endblock %}